@font-face {
	font-family: 'SangBleu-Sunrise';
	src: url('../fonts/SangBleu-Sunrise.ttf');
	font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	display: inline-block;
}
.container {
	max-width: 1500px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
body {
	color: var(--clr-dark-nevy);
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
:root {
	--clr-light-lavender: #eae4ea;
	--clr-lavender-gray: #eef0f8;
	--clr-mauve-gray: #8a737d;
	--clr-charcoal-olive: #1f201c;
	--clr-lavender-blush: #eae3ea;
	--clr-dark-nevy: #18212d;
	--clr-slate-grey: #717175;
	--clr-lilac: #aa6aaa;
	--clr-white: #ffffff;
	--clr-soft-alabaster: #efeeed;
	--clr-dim-gray: #666666;
	--clr-silver-gray: #c4c4c4;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
	border-radius: inherit;
}
.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.col {
	padding: 0 15px;
}
.col-25 {
	max-width: 25%;
	flex: 0 0 25%;
}
.col-50 {
	max-width: 50%;
	flex: 0 0 50%;
}

.section-padding {
	padding: 100px 0;
}
h1,
h2,
h3 {
	font-family: 'SangBleu-Sunrise';
	font-weight: 400;
}
h1 {
	font-size: clamp(40px, 5vw, 54px);
	line-height: 1.2;
	margin-bottom: 22px;
}
h1 span,
h2 span {
	display: block;
}
h2 {
	font-size: clamp(32px, 4vw, 45px);
	line-height: 1.08;
	margin-bottom: 42px;
}
h3 {
	font-size: clamp(20px, 3vw, 28px);
	line-height: 0.9;
}
/* Navbar */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	background-color: var(--clr-white);
}
.navbar .container {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 0;
	position: relative;
}
.navbar-brand {
	position: absolute;
	top: -65%;
	background-color: white;
	padding: 80px 45px 33px;
	border-radius: 50%;
	max-width: 220px;
}
.navbar-collapsed {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 33px;
	margin-left: auto;
}
.nav-items {
	position: relative;
	padding-bottom: 8px;
}
.nav-items::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 0%;
	height: 2px;
	background-color: var(--clr-dark-nevy);
	transition: width 0.3s ease;
}
.nav-items:hover::after {
	width: 100%;
}
.nav-lists {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 45px;
}
.btn {
	font-size: 16px;
	line-height: 1.5;
	padding: 12px 16px;
	border-radius: 50px;
	white-space: nowrap;
}
.primary-btn {
	background-color: var(--clr-light-lavender);
	color: var(--clr-dark-nevy);
	border: 1px solid transparent;
	transition: all 0.3s ease;
}
.primary-btn:hover {
	color: var(--clr-light-lavender);
	background-color: var(--clr-dark-nevy);
	border: 1px solid var(--clr-light-lavender);
}
.nav-links {
	font-size: 16px;
	line-height: 1.5;
	color: var(--clr-dark-nevy);
}

/* Banner */
.section-banner {
	margin-top: 90px;
}
.banner {
	height: calc(100vh - 90px);
	background: linear-gradient(
			to bottom,
			rgba(234, 227, 234, 1) 0%,
			rgba(234, 227, 234, 0.45) 37%,
			rgba(234, 227, 234, 0.4) 75%,
			rgba(234, 227, 234, 0) 100%
		),
		url('../images/there-is-man-walking-sand-dune-desert.png');
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 24px;
	overflow: hidden;
	background-size: cover;
	padding: 48px 0;
}
.banner-content {
	text-align: center;
	z-index: 20;
}

.banner-content p {
	max-width: 770px;
	margin: 0 auto;
	color: var(--clr-slate-grey);
	margin-bottom: 30px;
}
.secondary-btn {
	background-color: var(--clr-lilac);
	color: var(--clr-white);
	border: 1px solid transparent;
	transition: all 0.3s ease;
	padding: 12px 24px;
}
.secondary-btn:hover {
	background-color: var(--clr-white);
	color: var(--clr-lilac);
	border: 1px solid var(--clr-lilac);
}
.banner-top-img {
	border-radius: 20px;
	background-color: red;
	overflow: hidden;
	max-width: 1110px;
	margin: 0 auto;
	transform: translateY(10%);

	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
	backdrop-filter: blur(20px);
	padding: 16px;
	border: 2px solid rgba(255, 255, 255, 0.8);
}

.contact-cta {
	max-width: 945px;
	width: 100%;
	margin: 0 auto;
	padding: 38px;
	background-color: var(--clr-mauve-gray);
	display: flex;
	justify-content: space-between;
	align-items: center;
	transform: translateY(50%);
	border-radius: 6px;
}
.contact-cta p {
	font-family: 'SangBleu-Sunrise';
	font-size: clamp(32px, 4vw, 50px);
	line-height: 100%;
	color: var(--clr-white);
	text-transform: capitalize;
	position: relative;
}
.contact-cta p::after {
	content: url('../images/indicator.png');
}
.contact-cta .btn {
	background-color: var(--clr-white);
	color: var(--clr-charcoal-olive);
	padding: clamp(12px, 2vw, 18px) clamp(24px, 4vw, 35px);
	font-size: 18px;
	line-height: 1.5;
	border: 1px solid transparent;
	transition: all 0.3s ease;
}
.contact-cta .btn:hover {
	color: var(--clr-white);
	background-color: var(--clr-mauve-gray);
	border: 1px solid var(--clr-white);
}

/* Property Start */

.property .container {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.property .row {
	align-items: stretch;
}
.property .row .col {
	flex: 1;
}

.left-card,
.right-card {
	padding: 16px;
}
.left-card,
.right-card {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}
.left-card .left-image,
.right-card .right-image {
	max-width: 475px;
	width: 100%;
	border-radius: 14px;
	object-fit: cover;
	overflow: hidden;
	margin: 0 auto;
}
.right-card p {
	color: var(--clr-slate-grey);
}
.right-card .btn {
	background-color: var(--clr-lilac);
	color: var(--clr-white);
	padding: 15px 42px;
	transition: all 0.3s ease-in;
	border: 1px solid transparent;
	max-width: 231px;
	width: 100%;
}
.right-card .btn:hover {
	background-color: var(--clr-white);
	color: var(--clr-slate-grey);
	border: 1px solid var(--clr-slate-grey);
}

/* Property End */

/* Build Start */

.build .container {
	max-width: 1500px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.build {
	background: linear-gradient(to right, #cfc6d320, #cfc6d320, #cfc6d320, #cfc6d382);
}
.build h2 {
	text-align: center;
}

.build .row {
	align-items: stretch;
}
.build .row .col-50 {
	margin-top: 16px;
}
.card,
.cardDetails {
	margin: 16px 0;
	flex: 1;
	height: 100%;
	max-width: none;
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cardDetails {
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cardDetails a {
	white-space: nowrap;
	max-width: 130px;
	border-radius: 50px;
	width: 100%;
	padding: 10px 15px;
	transition: all 0.3s ease;
}

.cardDetails p {
	margin: 30px 0;
}
.secondCard {
	background-color: var(--clr-light-lavender);
}
.secondCard p {
	color: var(--clr-slate-grey);
}

.fourthCard {
	background-color: var(--clr-lilac);
	color: var(--clr-white);
}

.black-btn {
	color: var(--clr-dark-nevy);
	border: 1px solid transparent;
}
.black-btn:hover {
	border: 1px solid var(--clr-dark-nevy);
}
.white-btn {
	color: var(--clr-white);
	border: 1px solid transparent;
}
.white-btn:hover {
	border: 1px solid var(--clr-white);
}

/* Build End */
/* Testimonials Start */
.section-padding-top {
	padding-top: 100px;
}
.testimonials {
	text-align: center;
}
.testimonials .container {
	max-width: 1110px;
	width: 100%;
	margin: 0 auto;
}

.comment p:nth-child(1) {
	font-size: 16px;
	line-height: 1.6;
	color: var(--clr-slate-grey);
}
.comment h4 {
	font-family: 'SangBleu-Sunrise';
	color: var(--clr-lilac);
	font-size: 14px;
	margin-top: 30px;
}
.comment p:last-child {
	font-size: 12px;
	font-weight: 500;
	color: var(--clr-dim-gray);
	margin: 10px;
}

.swiper-btn-content {
	position: relative;
}
[class|='button'] {
	position: absolute;
	top: 50%;
	top: -90px;
	width: 60px;
	height: 60px;
	background-color: var(--clr-white);
	color: var(--clr-silver-gray);
	box-shadow: 0 4px 44px 0 rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	z-index: 10;
	transition: all 0.3s ease;
}
[class|='button']:hover {
	background-color: rgb(169, 106, 169);
	box-shadow: 0 4px 44px 0 rgba(169, 106, 169, 0.2);
	color: var(--clr-white);
}
.button-next {
	right: 0;
}
.button-prev {
	left: 0;
}
.swiper {
	max-width: 768px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.section-heading {
	font-size: 14px;
	line-height: 1.7;
	padding: 10px 18px;
	border-radius: 50px;
	color: var(--clr-dark-nevy);
	border: 1px solid var(--clr-soft-alabaster);
	width: 117px;
	margin: 0 auto;
	margin-bottom: 35px;
}

/* user Swiper */

.userSwiper {
	margin-top: 40px;
}

.userSwiper .swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
}

.userSwiper figure {
	border-radius: 50%;
	transition: all 0.4s ease;
	transform: scale(1);
	cursor: pointer;
	overflow: hidden;
	object-fit: cover;
}

.userSwiper .swiper-slide:nth-child(1) figure,
.userSwiper .swiper-slide:nth-child(5) figure {
	width: 62px;
	height: 62px;
	overflow: hidden;
}
.userSwiper .swiper-slide:nth-child(2) figure,
.userSwiper .swiper-slide:nth-child(4) figure {
	width: 92px;
	height: 92px;
	overflow: hidden;
}
.userSwiper .swiper-slide:nth-child(3) figure {
	width: 132px;
	height: 132px;
	overflow: hidden;
}
.userSwiper .swiper-slide:nth-child(1) figure {
	margin-left: auto;
}
.userSwiper .swiper-slide:nth-child(5) figure {
	margin-right: auto;
}

/* When image is active */
.userSwiper .swiper-slide-thumb-active figure {
	transform: scale(1.2);
	box-shadow: 0 4px 25px rgba(170, 106, 170, 0.3);
}
.userSwiper .swiper-wrapper {
	padding: 30px 0;
	display: flex;
	align-items: center;
}

/* Testimonials End */

/* Footer */
.footer {
	background-color: var(--clr-dark-nevy);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding-top: 48px;
}
.footer-top-wrapper {
	padding-top: 70px;
	padding-bottom: 40px;
}
.footer-title {
	font-family: 'SangBleu-Sunrise';
	line-height: 124.5%;
	color: var(--clr-white);
	position: relative;
	padding-bottom: 16px;
	margin-bottom: 16px;
}
.footer-title::after {
	content: '';
	width: 50px;
	height: 1px;
	position: absolute;
	background-color: var(--clr-white);
	bottom: 0;
	left: 0;
	right: 0;
}
.footer-inr li {
	margin: 12px 0;
}
.footer-inr li a,
.footer-bottom a {
	color: var(--clr-white);
	transition: all 0.3s ease;
}
.footer-inr li a:hover,
.footer-bottom a:hover {
	color: var(--clr-light-lavender);
}
.footer-logo {
	margin: 16px 0;
}
.quick-links,
.additional-links,
.connect {
	margin: 16px 0;
}
.connect {
	max-width: 345px;
	width: 100%;
}
form {
	margin-top: 32px;
	display: grid;
	grid-template-columns: 1fr auto;
}
.form-group {
	display: grid;
}

.form-group input[type='email'] {
	border-radius: 50px;
	background: transparent;
	border: none;
	padding: 0 16px;
}
.form-group input[type='email'] {
	border: 2px solid var(--clr-lavender-gray);
}
.form-group input[type='email']::placeholder {
	font-size: 16px;
	color: var(--clr-white);
	font-weight: 300;
	text-transform: capitalize;
}

.form-group button {
	cursor: pointer;
	height: 46px;
	width: 46px;
	background: transparent;
	border: none;
	border-radius: 50%;
}
.form-group button i {
	color: var(--clr-lilac);
	font-size: 46px;
}
.socials {
	margin: 25px 0;
}
.social-links {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
}
.social-links li {
	font-size: 18px;
	display: grid;
	justify-content: center;
	align-items: center;
	background-color: var(--clr-lavender-blush);
	height: 40px;
	width: 40px;
	border-radius: 50%;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	border: 2px solid transparent;
	transition: all 0.2s ease-in;
}
.social-links li i {
	color: var(--clr-dark-nevy);
}
.social-links li:hover {
	background-color: var(--clr-dark-nevy);
	border-color: var(--clr-lavender-blush);
	transform: scale(1.2);
	transition: all 0.3s ease-out;
}
.social-links li:hover i {
	color: var(--clr-lavender-blush);
}
.footer-bottom {
	padding: 17px 0;
}
.footer-bottom,
.footer-bottom a {
	text-align: center;
	color: var(--clr-white);
	font-size: 14px;
	line-height: 1.78;
}
.nav-toggler {
	display: none;
	cursor: pointer;
}

@media screen and (max-width: 991px) {
	.col-md-50 {
		max-width: 50%;
		flex: 0 0 50%;
		text-align: center;
	}
	.col-md-100 {
		max-width: 100%;
		flex: 0 0 100%;
	}
	.nav-toggler {
		display: block;
		font-size: 32px;
		color: var(--clr-dark-nevy);
		margin-left: auto;
	}
	.nav-toggler i {
		transition: transform 0.3s ease;
	}
	.nav-toggler.active i {
		transform: rotate(180deg);
	}
	.nav-lists {
		flex-direction: column;
	}
	.navbar-brand {
		z-index: 20;
	}
	.navbar-collapsed {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: var(--clr-white);
		z-index: 19;
		width: 100%;
		flex-direction: column;
		padding: 32px;
		border-radius: 6px;
	}
	.navbar-collapsed.show {
		display: flex;
	}

	.left-card h2 {
		font-size: 40px;
	}

	.right-card p {
		margin: 30px 0;
	}

	.contact-cta {
		max-width: 600px;
		width: 100%;
	}
	.footer-title::after {
		display: none;
	}
	.footer-top-wrapper .row .col-25:nth-child(1) {
		order: 0;
	}
	.footer-top-wrapper .row .col-25:nth-child(2) {
		order: 2;
	}
	.footer-top-wrapper .row .col-25:nth-child(4) {
		order: 1;
	}

	.social-links {
		justify-content: center;
	}
	.connect {
		margin: 0 auto;
	}
	.contact-cta p::after {
		display: none;
	}
	.navbar-brand {
		max-width: 200px;
	}
	.banner {
		padding: 100px 15px;
	}
}
@media screen and (max-width: 768px) {
	.col-sm-100 {
		max-width: 100%;
		flex: 0 0 100%;
	}
	.footer-top-wrapper .row .col-25:nth-child(4) {
		order: 3;
	}
}
@media screen and (max-width: 480px) {
	.col-xs-100 {
		max-width: 100%;
		flex: 0 0 100%;
	}
}
